<div class="footer">
  <div class="box">
    <!--底部各种连接-->
      <div class="footerLink clear">
        <dl class="floatLeft">
          <dt>关于一点田</dt>
          <dd>
            <ul>
              <li><a href="/help/1.html?cid=7" hidefocus="true">一点田缘起</a></li>
              <li><a href="/help/1.html?cid=8" hidefocus="true">农场介绍</a></li>
              <li><a href="/help/1.html?cid=9" hidefocus="true">我们的团队</a></li>
              <li><a href="/help/1.html?cid=11" hidefocus="true">生产标准</a></li>
              <li><a href="/help/1.html?cid=59" hidefocus="true">联系我们</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="floatLeft footerGuide">
          <dt>新手指南</dt>
          <dd>
            <ul>
              <li><a href="/help/agree.html" hidefocus="true">用户协议</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="floatLeft footerDelivery">
          <dt>配送服务</dt>
          <dd>
            <ul>
              <li><a href="/help/4.html?cid=23" hidefocus="true">配送范围</a></li>
              <li><a href="/help/4.html?cid=24" hidefocus="true">配送方式</a></li>
              <li><a href="/help/4.html?cid=25" hidefocus="true">配送费用</a></li></ul></dd>
            
          
        </dl>
        <dl class="floatLeft footerAfterSale">
          <dt>售后服务</dt>
          <dd>
            <ul>
              <li><a href="/help/5.html?cid=26" hidefocus="true">退换货政策</a></li>
              <li><a href="/help/5.html?cid=54" hidefocus="true">退款说明</a></li>
              <li><a href="/help/5.html?cid=55" hidefocus="true">投诉建议</a></li></ul></dd>
            
          
        </dl>
        <dl class="floatLeft footerWeixin">
          <dt>
            <div class="footerWeixinT">
              <p><i class="weixinIcon">&nbsp;</i>微信扫一扫</p>
              <p class="slogan">最新优惠&nbsp;&nbsp;在线点菜</p>
            </div>
          </dt>
          <dd>
            <img src="/image/icon/weixinerweima.jpg">
          </dd>
        </dl>
      </div>
    <!--end 底部各种连接-->
    <!--底部优势-->
      <div class="footerSuperiority">&nbsp;</div>
    <!--end 底部优势-->
    <!--底部电话微博-->
      <div class="footerContact clear">
        <dl class="footerPhone floatLeft clear">
          <dt class="floatLeft"></dt>
          <dd class="floatLeft">
            <p class="footerPhoneTime">客服热线(全年09：00-19:00)</p>
            <p class="footerPhoneNum">400-028-1719</p>
          </dd>
        </dl>
        <dl class="footerWeibo floatLeft clear">
          <dt class="floatLeft"></dt>
          <dd class="floatLeft">
            <a href="http://e.weibo.com/ydtnc" target="_blank" hidefocus="true">@一点田生态农场</a>
          </dd>
        </dl>
      </div>
    <!--end 底部电话微博-->
    <!--底部版权-->
      <p class="copyRight">版权所有 © 四川一点田生态农业有限公司 蜀ICP备11008561-3号</p>
    <!--end 底部版权-->
  </div>
</div>