<div class="header">
  <div class="box clear">
    <!--logo-->
    <div class="floatLeft logo">
      <a href="/" hidefocus="true"><img src="/image/icon/logo.png" title="放心食材一点田" alt="放心食材一点田"></a>
    </div>
    <!--end logo-->
    <!--导航-->
    <div class="floatLeft headerRight clear">
      <div class="floatRight clear">
        <!--头部导航-->
        <div class="headerTopNav clear">
          <ul class="floatRight clear">
            <li class="floatLeft"><span>客服热线：<em>400-028-1719</em></span></li>
            <li class="floatLeft">
              <iframe id="weibo_iframe" width="63" scrolling="no" height="22" frameborder="0" align="absmiddle" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=63&amp;height=22&amp;uid=2812465265&amp;style=1&amp;btn=red&amp;dpc=1" border="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>
            </li>
            <li class="floatLeft">
              <a href="http://www.yidiantian.com/gift.html" class="cardLink" hidefocus="true">卡券兑换</a>
            </li>
            <li class="floatLeft headerCartBox">
              <a href="http://www.yidiantian.com/profile/cart.html" class="cartLink" hidefocus="true">您的购物车中有<em id="header_top_cart_num">0</em>件商品</a>

              <!--购物车-->
              <div class="headerCart" style="display:none;">
                <div class="headerCartTop"></div>
                <div class="headerCartCon" id="header_top_cart">
                  <div id="header_top_cart_items" class="headerCartConSlider">

                  </div>
                  <div class="headerCartCount">
                    小计：<span>￥0.00</span>
                  </div>
                  <div class="headerCartBtn">
                    <a href="http://www.yidiantian.com/profile/cart.html" class="orangeBtn orangeBtn30" hidefocus="true">去购物车结算<i class="icon_arrow_mini">&nbsp;</i></a>
                  </div>

                </div>
                <div class="headerCartFooter"></div>
              </div>
              <!--end 购物车-->

            </li>
          </ul>
        </div>
        <!--end 头部导航-->
        <!--网站导航-->
        <div class="headerNav clear">
          <ul class="floatRight clear">
            <li class="floatLeft"><a href="/" hidefocus="true">首&nbsp;&nbsp;页</a></li>
            <li class="floatLeft"><a href="http://www.yidiantian.com/farm.html" hidefocus="true">农场体验</a></li>
            <li class="floatLeft"><a href="http://www.yidiantian.com/combo.html" hidefocus="true">宅配套餐</a></li>
            <li class="floatLeft current"><a href="http://www.yidiantian.com/market.html" hidefocus="true">商城</a></li>
            <li class="floatLeft"><a href="http://www.yidiantian.com/gifts.html" hidefocus="true">礼品专区</a></li>
            <!--<li class="floatLeft"><a href="http://www.yidiantian.com/landlord.html">租地种菜</a></li>-->
            <li class="floatLeft"><a href="http://www.yidiantian.com/event.html" hidefocus="true">农场活动</a></li>
          </ul>
        </div>
        <!--end 网站导航-->
      </div>
    </div>
    <!--end 导航-->
    <!--会员中心-->
    <div class="floatRight headerBtnBox">
      <div class="headerLogin">
        <a href="http://www.yidiantian.com/user/login.html" hidefocus="true">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.yidiantian.com/user/register.html" hidefocus="true">注册</a>
      </div>
      <div id="user_nav" class="userCenterLink">
        <a href="http://www.yidiantian.com/profile.html" class="brownBtn brownBtn40" hidefocus="true">会员入口<i class="userCenterArrow">&nbsp;</i></a>
        <div name="slide_menu" class="userCenterMenu" style="display:none;">
          <ul class="clear">
            <li class="floatLeft"><a href="http://www.yidiantian.com/profile/order.html" hidefocus="true">我的订单</a></li>
            <!--<li class="floatLeft"><a href="http://www.yidiantian.com/profile/wealth.html">租地管理</a></li>-->
            <li class="floatLeft"><a href="http://www.yidiantian.com/profile/account/recharge.html" hidefocus="true">在线充值</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--end 会员中心-->
  </div>
</div>